<h5>Select Organisation units:</h5>

<div [class.loader]="isLoading"></div>

<form (ngSubmit)="select($event)">
  <div *ngFor="let lvl of levels">

    <select (change)='loadLevel($event.target.value, lvl)' [disabled]="isLoading" >
      <option>Choose level {{lvl}}</option>
      <option *ngFor='let org of findChildrenOfSelectedOrgUnit(lvl) | orderByDisplayNamePipe' [value]="org.id">
        {{org.displayName}}
      </option>
    </select>
  </div>

  <br/>
  <p>
    <datePicker></datePicker>
  </p>

  <p class="errorMessage">{{message}}</p>
  <button type="submit">OK</button>

</form>
