
.errorMessageStyle {
  color: red;
}

.header {
  display:block;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 40px 0px;
  background-color: #215e8c;
  border-radius: 2px;
  border: 1px solid black;
}
.inputBoxWidth {
  width: 50%;
  float:left;
  padding:2px;
}
.orgOptionStyle {
  margin:20px;
}
.rowStyle {
  display: block;
  clear: both;
}
#logo {
  float:left;
  padding: 30px 50px 10px 25px;
}
#mainHeader {
  color:#c3c3c3;
  font-family: Tahoma, Geneva, sans-serif;
  padding:10px 0px 0px 0px;
  text-shadow: 1px 1px #000000;
}

#leafletMapId {
  width: 500px;
  height: 300px;
}
.sidebarStyle {
  background-color:#f2f2f2;
  box-shadow: 3px 3px 20px 2px #888888;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.rowEqualsHeight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

th,td {
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}
tr:nth-child(even){background-color:#f2f2f2 }

th {
  background-color: #4CAF50;
  color: white;
}
.datasetListStyle {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.5em;
  padding-left: 1em;
}



