<h2>Login with DHIS2 username/pw:</h2>

<form #userForm="ngForm" (ngSubmit)="login()">
  <label>Server url:</label>
  <input [(ngModel)]="model.connectionLink" name="connectionLink" #connectionLink="ngModel" required>
  <br/>
<label>Username:</label>
  <input [(ngModel)]="model.username" name="username" #username="ngModel" required>
  <br/>
  <label>Password:</label>
  <input [(ngModel)]="model.password" name="password" #password="ngModel" type="password" required>
  <br/>
<button type="submit" [disabled]="!userForm.form.valid">Login</button>
</form>
<div [class]="errorMessage" *ngFor="let errorMessage of errorMessages">
{{errorMessage}}
</div>
{{_authorizationService.authorizationMessage}}

