<fieldset>
<legend>Select Organisation units:</legend>

<div [class.loader]="isLoading"></div>

<div>
  <div *ngFor="let lvl of levels">

    <select (change)='loadLevel($event.target.value, lvl)' [disabled]="isLoading" >
      <option>Choose level {{lvl}}</option>
      <option *ngFor='let org of findChildrenOfSelectedOrgUnit(lvl) | orderByDisplayNamePipe' [value]="org.id">
        {{org.displayName}}
      </option>
    </select>
  </div>
</div>
</fieldset>
<programPicker [selectedOrgUnit]="selectedOrgUnit"></programPicker>
