<h3 class="sub-header">Select organisation units:</h3>
<div class="container-fluid">
  <div *ngFor="let lvl of levels">
<p style="clear: both">
    <select (change)='loadLevel($event.target.value, lvl)' [disabled]="isLoading" class="inputBoxWidth">
      <option class="orgOptionStyle">Choose level {{lvl}}</option>
      <option class="orgOptionStyle" *ngFor='let org of findChildrenOfSelectedOrgUnit(lvl) | orderByDisplayNamePipe' [value]="org.id">
        {{org.displayName}}
      </option>
    </select>
</p>
  </div>
</div>

<programPicker [selectedOrgUnit]="selectedOrgUnit" [RECIEVER_ADDRESS]="RECIEVER_ADDRESS"></programPicker>